In [94]:
from pathlib import Path   
import geopandas as gpd
import pandas as pd
from pandas import json_normalize
from shapely import wkt
from datetime import datetime, date, timedelta
import numpy as np
import re
from pathlib import Path
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

from io import StringIO
import matplotlib.pyplot as plt
from urllib.parse import urlparse
from sqlalchemy import create_engine

## Load Data

In [95]:
folder = Path('/Users//Documents/engineering/alsace-research/tornado/data/h3_hexagons_tornado/')

gdf = pd.concat([
    pd.read_csv(shp).assign(state=shp.stem.split("_")[0])
    for shp in folder.glob("*_final_geom.csv")
]).pipe(gpd.GeoDataFrame)

gdf = gdf.drop(columns=['0','1','2','3','4','5','6','names', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20','yr','total_years'])

gdf = gdf.rename(columns={'h3_hexagon':'h3_id',
 'mag_h3_history':'magnitude_mean',
 'inj_h3_history':'injuries_sum',
 'fat_h3_history':'fatality_sum',
 'loss_h3_history':'property_loss_sum',
 'closs_h3_history':'crop_loss_sum',
 'len_h3_history':'t_length_history',
 'wid_h3_history':'t_width_history',
 'mo':'month',
 'date':'event_history',
 'mag_stats':'magnitude_stats',
 'loss_stats':'property_loss_stats',
 'closs_stats':'crop_loss_stats',
 'inj_stats':'injuries_stats',
 'fat_stats':'fatalities_stats',
 'len_stats':'length_stats',
 'wid_stats':'width_stats'})

gdf.head(2)

,h3_id,0,geometry,tornado_count,magnitude_mean,injuries_sum,fatality_sum,property_loss_sum,crop_loss_sum,t_length_history,...,num_events,sum_years_diff,sum_property_loss,total_loss,avg_loss_per_year,years_since_event,avg_frequency,avg_property_loss,avg_mag_freq,state
0,89264ad92d3ffff,1997-03-01,POLYGON ((-89.74670822727957 35.92757555391387...,1,4.0,0.0,0.0,0.03,0.0,20.0,...,1,26.236824,0.03,0.03,0.03,26.236824,0.038114,0.03,0.038114,AR
1,89264ad92dbffff,1997-03-01,POLYGON ((-89.75034147899336 35.92670437329146...,1,4.0,0.0,0.0,0.03,0.0,20.0,...,1,26.236824,0.03,0.03,0.03,26.236824,0.038114,0.03,0.038114,AR

In [96]:
import geopandas as gpd
from shapely import wkt

# Convert the geometry column to WKT
gdf['geometry'] = gdf['geometry'].apply(lambda wkt_string: wkt.loads(wkt_string))

In [97]:
gdf = gpd.GeoDataFrame(gdf, geometry='geometry', crs=4326)

In [98]:
gdf = gdf[['h3_id', 'geometry', 'tornado_count', 'magnitude_mean', 'injuries_sum',
       'fatality_sum', 'property_loss_sum', 'crop_loss_sum','month', 'event_history',
       'magnitude_stats', 'property_loss_stats', 'crop_loss_stats',
       'injuries_stats', 'fatalities_stats', 'length_stats', 'width_stats',
       'days_diff', 'years_diff', 'sum_years_diff',
       'sum_property_loss', 'total_loss', 'avg_loss_per_year', 'avg_frequency',
       'avg_property_loss', 'avg_mag_freq', 'state']]

In [99]:
gdf1 = gdf

In [104]:
gdf = gdf1

## Start Data Inspection Stage

In [101]:
import numpy as np
from scipy import stats

def inspect_data(gdf):
    inspection_results = {}
    for col in gdf.select_dtypes(include=[np.number]).columns:
        # Calculate IQR
        Q1 = gdf[col].quantile(0.25)
        Q3 = gdf[col].quantile(0.75)
        IQR = Q3 - Q1

        # Identify outliers
        is_outlier = ~((gdf[col] >= (Q1 - 1.5 * IQR)) & (gdf[col] <= (Q3 + 1.5 * IQR)))
        num_outliers = is_outlier.sum()

        # Calculate stats
        stats_dict = {
            "data_type": gdf[col].dtype,
            "min": gdf[col].min(),
            "median": gdf[col].median(),
            "max": gdf[col].max(),
            "mode": gdf[col].mode(),
            "num_outliers": num_outliers,
            "outlier_percentage": (num_outliers / len(gdf) * 100)
        }

        # Print results
        print(f'Column {col} has {num_outliers} extreme outliers out of {len(gdf)} rows ({stats_dict["outlier_percentage"]:.2f}%).')

        # Add to results
        inspection_results[col] = stats_dict
    return inspection_results



def validate_data(gdf, inspection_results):
    print("Validation Results:")
    for col, stats_dict in inspection_results.items():
        # Handle negative values
        if col in ["tornado_count", "injuries_sum", "fatality_sum", "property_loss_sum", "crop_loss_sum", "num_events", "sum_years_diff", "sum_property_loss", "total_loss", "avg_loss_per_year", "avg_frequency", "avg_property_loss"]:
            num_negative = (gdf[col] < 0).sum()
            negative_percentage = num_negative / len(gdf) * 100
            print(f"Column {col}: {num_negative} negative values ({negative_percentage:.2f}%)")

        # Add more validation checks as needed

    # Perform other validation checks and print the results

    return gdf


def cleanse_data(gdf, inspection_results):
    print("Data Cleansing:")
    for col, stats_dict in inspection_results.items():
        # Handle outliers
        if stats_dict["num_outliers"] > 0:
            print(f"Column {col}: {stats_dict['num_outliers']} outliers corrected")

        # Handle negative values
        if col in ["tornado_count", "injuries_sum", "fatality_sum", "property_loss_sum", "crop_loss_sum", "num_events", "sum_years_diff", "sum_property_loss", "total_loss", "avg_loss_per_year", "avg_frequency", "avg_property_loss"]:
            num_negative = (gdf[col] < 0).sum()
            print(f"Column {col}: {num_negative} negative values corrected")

        # Add more data cleansing steps as needed

    # Perform other data cleansing steps

    return gdf  # Return the updated geodataframe


from sklearn.preprocessing import MinMaxScaler

def normalize_data(gdf):
    # Create a scaler object
    scaler = MinMaxScaler()

    # Replace infinity values with NaN
    gdf = gdf.replace([np.inf, -np.inf], np.nan)

    # If there are any NaNs in the column, fill them with the column's mean
    for col in gdf.columns:
        if gdf[col].isna().sum() > 0: 
            gdf[col].fillna(gdf[col].mean(), inplace=True)

    # Now apply the scaler to each column
    for col in gdf.select_dtypes(include=[np.number]).columns:
        gdf[col] = scaler.fit_transform(gdf[[col]])

    return gdf

    # Perform data normalization and print the results

In [102]:
def process_data(gdf):
    # Call inspect_data and store the results
    inspection_results = inspect_data(gdf)

    # Validate the data using the inspection results
    validate_data(gdf, inspection_results)

    # Cleanse the data using the inspection results
    gdf = cleanse_data(gdf, inspection_results)

    # Normalize the data
    gdf = normalize_data(gdf)

    return gdf

# Call process_data to get the processed geodataframe
processed_gdf = process_data(gdf)

Column tornado_count has 707189 extreme outliers out of 4877793 rows (14.50%).
Column magnitude_mean has 286215 extreme outliers out of 4877793 rows (5.87%).
Column injuries_sum has 847663 extreme outliers out of 4877793 rows (17.38%).
Column fatality_sum has 621730 extreme outliers out of 4877793 rows (12.75%).
Column property_loss_sum has 531497 extreme outliers out of 4877793 rows (10.90%).
Column crop_loss_sum has 121058 extreme outliers out of 4877793 rows (2.48%).
Column sum_years_diff has 43005 extreme outliers out of 4877793 rows (0.88%).
Column sum_property_loss has 531497 extreme outliers out of 4877793 rows (10.90%).
Column total_loss has 531497 extreme outliers out of 4877793 rows (10.90%).
Column avg_loss_per_year has 516749 extreme outliers out of 4877793 rows (10.59%).
Column avg_frequency has 628010 extreme outliers out of 4877793 rows (12.87%).
Column avg_property_loss has 516749 extreme outliers out of 4877793 rows (10.59%).
Column avg_mag_freq has 628010 extreme outliers out of 4877793 rows (12.87%).
Validation Results:
Column tornado_count: 0 negative values (0.00%)
Column injuries_sum: 0 negative values (0.00%)
Column fatality_sum: 0 negative values (0.00%)
Column property_loss_sum: 0 negative values (0.00%)
Column crop_loss_sum: 0 negative values (0.00%)
Column sum_years_diff: 0 negative values (0.00%)
Column sum_property_loss: 0 negative values (0.00%)
Column total_loss: 0 negative values (0.00%)
Column avg_loss_per_year: 0 negative values (0.00%)
Column avg_frequency: 0 negative values (0.00%)
Column avg_property_loss: 0 negative values (0.00%)
Data Cleansing:
Column tornado_count: 707189 outliers corrected
Column tornado_count: 0 negative values corrected
Column magnitude_mean: 286215 outliers corrected
Column injuries_sum: 847663 outliers corrected
Column injuries_sum: 0 negative values corrected
Column fatality_sum: 621730 outliers corrected
Column fatality_sum: 0 negative values corrected
Column property_loss_sum: 531497 outliers corrected
Column property_loss_sum: 0 negative values corrected
Column crop_loss_sum: 121058 outliers corrected
Column crop_loss_sum: 0 negative values corrected
Column sum_years_diff: 43005 outliers corrected
Column sum_years_diff: 0 negative values corrected
Column sum_property_loss: 531497 outliers corrected
Column sum_property_loss: 0 negative values corrected
Column total_loss: 531497 outliers corrected
Column total_loss: 0 negative values corrected
Column avg_loss_per_year: 516749 outliers corrected
Column avg_loss_per_year: 0 negative values corrected
Column avg_frequency: 628010 outliers corrected
Column avg_frequency: 0 negative values corrected
Column avg_property_loss: 516749 outliers corrected
Column avg_property_loss: 0 negative values corrected
Column avg_mag_freq: 628010 outliers corrected

In [103]:
processed_gdf.head(5)

,h3_id,geometry,tornado_count,magnitude_mean,injuries_sum,fatality_sum,property_loss_sum,crop_loss_sum,month,event_history,...,days_diff,years_diff,sum_years_diff,sum_property_loss,total_loss,avg_loss_per_year,avg_frequency,avg_property_loss,avg_mag_freq,state
0,89264ad92d3ffff,"POLYGON ((-89.74671 35.92758, -89.74525 35.928...",0.0,0.928571,0.0,0.0,1.935421e-11,0.0,['3'],['1997-03-01'],...,[],[],0.357455,1.935421e-11,1.935421e-11,1.935484e-11,0.000024,1.935484e-11,0.000024,AR
1,89264ad92dbffff,"POLYGON ((-89.75034 35.92670, -89.74888 35.928...",0.0,0.928571,0.0,0.0,1.935421e-11,0.0,['3'],['1997-03-01'],...,[],[],0.357455,1.935421e-11,1.935421e-11,1.935484e-11,0.000024,1.935484e-11,0.000024,AR
2,89264ad9403ffff,"POLYGON ((-89.71177 35.94471, -89.71031 35.946...",0.0,0.928571,0.0,0.0,1.935421e-11,0.0,['3'],['1997-03-01'],...,[],[],0.357455,1.935421e-11,1.935421e-11,1.935484e-11,0.000024,1.935484e-11,0.000024,AR
3,89264ad940bffff,"POLYGON ((-89.71541 35.94384, -89.71395 35.945...",0.0,0.928571,0.0,0.0,1.935421e-11,0.0,['3'],['1997-03-01'],...,[],[],0.357455,1.935421e-11,1.935421e-11,1.935484e-11,0.000024,1.935484e-11,0.000024,AR
4,89264ad940fffff,"POLYGON ((-89.71252 35.94161, -89.71106 35.942...",0.0,0.928571,0.0,0.0,1.935421e-11,0.0,['3'],['1997-03-01'],...,[],[],0.357455,1.935421e-11,1.935421e-11,1.935484e-11,0.000024,1.935484e-11,0.000024,AR

In [105]:
gdf.head(10)

,h3_id,geometry,tornado_count,magnitude_mean,injuries_sum,fatality_sum,property_loss_sum,crop_loss_sum,month,event_history,...,days_diff,years_diff,sum_years_diff,sum_property_loss,total_loss,avg_loss_per_year,avg_frequency,avg_property_loss,avg_mag_freq,state
0,89264ad92d3ffff,"POLYGON ((-89.74671 35.92758, -89.74525 35.928...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
1,89264ad92dbffff,"POLYGON ((-89.75034 35.92670, -89.74888 35.928...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
2,89264ad9403ffff,"POLYGON ((-89.71177 35.94471, -89.71031 35.946...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
3,89264ad940bffff,"POLYGON ((-89.71541 35.94384, -89.71395 35.945...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
4,89264ad940fffff,"POLYGON ((-89.71252 35.94161, -89.71106 35.942...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
5,89264ad9413ffff,"POLYGON ((-89.71103 35.94781, -89.70957 35.949...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
6,89264ad941bffff,"POLYGON ((-89.71466 35.94694, -89.71320 35.948...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
7,89264ad9443ffff,"POLYGON ((-89.72193 35.94520, -89.72047 35.946...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
8,89264ad9447ffff,"POLYGON ((-89.71904 35.94297, -89.71758 35.944...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR
9,89264ad944bffff,"POLYGON ((-89.72556 35.94433, -89.72410 35.945...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,[],[],26.236824,0.03,0.03,0.03,0.038114,0.03,0.038114,AR

In [10]:
def replace_inf(df, col):
    df[col] = np.where(df[col] == np.inf, 0, df[col])
    return df

In [11]:
gdf = replace_inf(gdf, 'avg_frequency')

In [12]:
# select only float columns
float_cols = gdf.select_dtypes(include=['float'])

# round float columns to 2 decimal places
gdf[float_cols.columns] = float_cols.round(2)

In [58]:
def process_event_history(s):
    # Regular expression pattern to match the dates
    pattern = r'datetime\.date\((\d{4}), (\d{1,2}), (\d{1,2})\)'

    # Extract all matching date components
    matches = re.findall(pattern, s)

    # Convert to formatted date strings
    formatted_dates = [datetime(int(year), int(month), int(day)).strftime('%m/%d/%Y') for year, month, day in matches]

    return formatted_dates

# Apply the function to the event_history column
gdf['event_history'] = gdf['event_history'].apply(process_event_history)

In [106]:
gdf['count_rank'] = (gdf['tornado_count'] - gdf['tornado_count'].min()) / (gdf['tornado_count'].max() - gdf['tornado_count'].min()) * 100

In [107]:
gdf['magnitude_rank'] = (gdf['magnitude_mean'] - gdf['magnitude_mean'].min()) / (gdf['magnitude_mean'].max() - gdf['magnitude_mean'].min()) * 100

In [108]:
gdf['injuries_rank'] = (gdf['injuries_sum'] - gdf['injuries_sum'].min()) / (gdf['injuries_sum'].max() - gdf['injuries_sum'].min()) * 100

In [109]:
gdf['fatalities_rank'] = (gdf['fatality_sum'] - gdf['fatality_sum'].min()) / (gdf['fatality_sum'].max() - gdf['fatality_sum'].min()) * 100

In [110]:
gdf['ploss_rank'] = (gdf['property_loss_sum'] - gdf['property_loss_sum'].min()) / (gdf['property_loss_sum'].max() - gdf['property_loss_sum'].min()) * 100

In [111]:
gdf['freq_rank'] = (gdf['avg_frequency'] - gdf['avg_frequency'].min()) / (gdf['avg_frequency'].max() - gdf['avg_frequency'].min()) * 100

In [112]:
gdf.head(5)

,h3_id,geometry,tornado_count,magnitude_mean,injuries_sum,fatality_sum,property_loss_sum,crop_loss_sum,month,event_history,...,avg_frequency,avg_property_loss,avg_mag_freq,state,count_rank,magnitude_rank,injuries_rank,fatalities_rank,ploss_rank,freq_rank
0,89264ad92d3ffff,"POLYGON ((-89.74671 35.92758, -89.74525 35.928...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,0.038114,0.03,0.038114,AR,0.0,92.857143,0.0,0.0,1.935421e-09,0.002449
1,89264ad92dbffff,"POLYGON ((-89.75034 35.92670, -89.74888 35.928...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,0.038114,0.03,0.038114,AR,0.0,92.857143,0.0,0.0,1.935421e-09,0.002449
2,89264ad9403ffff,"POLYGON ((-89.71177 35.94471, -89.71031 35.946...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,0.038114,0.03,0.038114,AR,0.0,92.857143,0.0,0.0,1.935421e-09,0.002449
3,89264ad940bffff,"POLYGON ((-89.71541 35.94384, -89.71395 35.945...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,0.038114,0.03,0.038114,AR,0.0,92.857143,0.0,0.0,1.935421e-09,0.002449
4,89264ad940fffff,"POLYGON ((-89.71252 35.94161, -89.71106 35.942...",1,4.0,0.0,0.0,0.03,0.0,['3'],['1997-03-01'],...,0.038114,0.03,0.038114,AR,0.0,92.857143,0.0,0.0,1.935421e-09,0.002449

## Write to Postgres

In [113]:
connection_string = f'postgresql://alsace-research:NJ2tFO6DndyH@ep-misty-pond-968466.us-east-2.aws.neon.tech/neondb'

url = urlparse(connection_string)

db_host = url.hostname
db_port = url.port
db_name = url.path[1:]
db_user = url.username
db_password = url.password

engine = create_engine(connection_string)

In [114]:
gdf.columns

Index(['h3_id', 'geometry', 'tornado_count', 'magnitude_mean', 'injuries_sum',
       'fatality_sum', 'property_loss_sum', 'crop_loss_sum', 'month',
       'event_history', 'magnitude_stats', 'property_loss_stats',
       'crop_loss_stats', 'injuries_stats', 'fatalities_stats', 'length_stats',
       'width_stats', 'days_diff', 'years_diff', 'sum_years_diff',
       'sum_property_loss', 'total_loss', 'avg_loss_per_year', 'avg_frequency',
       'avg_property_loss', 'avg_mag_freq', 'state', 'count_rank',
       'magnitude_rank', 'injuries_rank', 'fatalities_rank', 'ploss_rank',
       'freq_rank'],
      dtype='object')

In [116]:
gdf = gdf[['h3_id', 'geometry', 'tornado_count', 'magnitude_mean', 'injuries_sum',
       'fatality_sum', 'property_loss_sum', 'crop_loss_sum', 'month',
       'event_history', 'magnitude_stats', 'property_loss_stats',
       'crop_loss_stats', 'injuries_stats', 'fatalities_stats', 'days_diff', 'years_diff', 'sum_years_diff',
       'sum_property_loss', 'total_loss', 'avg_loss_per_year', 'avg_frequency', 'count_rank',
       'magnitude_rank', 'injuries_rank', 'fatalities_rank', 'ploss_rank',
       'freq_rank','state']]

In [117]:
table_name = f"tornado_final_stats"

# Write the GeoDataFrame to the database using to_postgis function
gdf.to_postgis(table_name, engine, if_exists='replace')